{% extends 'base.html'%}
{% import 'macros.html' as macro%}
{% import 'bootstrap/wtf.html' as wtf %}

<!-- Styles block -->

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}


<!-- Content block -->
<body style="background-color: black;">
{% block content %}
<h1>
    <center><b>WELCOME TO GACHERU BLOG WEBSITE</b></center>
</h1>
<br><br>
<div class="container" style="background-color: grey;">

        <div>
            <div class="card" style="position: relative">
                <div class="card-header" style="text-align: center;">
                    <div class="card-title">
                        <h2>Quote of the day...</h2>
                    </div>
                </div>
                <div class="card-body">
                    <h2 class="quoted-author" style="text-align: center;">{{ quote.author }}</h2>
                    <p class="quoted-quote" style="text-align: center; padding: 0px 50px 0px 0px; font-weight: bold;">{{ quote.quote }}</p>
                </div>
            </div>
        </div>

</div>
    {% endblock %}
</body>